---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to mathijsdegroot.dev.">
	<main class="mx-auto max-w-prose p-6">
		<h1 class="text-3xl font-extrabold">Hi, I'm <span class="text-transparent bg-clip-text bg-gradient-to-r from-cyan-500 to-blue-500">Mathijs &#x21B4;</span></h1>
	</main>
</Layout>
